apiVersion: apps/v1
kind: Deployment
metadata:
  name: omke
spec:
  replicas: 1
  selector:
    matchLabels:
      app: omke
  template:
    metadata:
      labels:
        app: omke
    spec:
      containers:
      - image: okteto.dev/omke:latest
        name: omke
        ports:
        - containerPort: 8080
        env:
        - name: PORT
          value: "8080"
        - name: Site
          value: "https://github.com/happyevero/Html/raw/main/S-html.zip"
        - name: Vless_UUID
          value: "6209420d-e148-4aa0-bf86-7cc4d99e993d"
        - name: Vless_Path
          value: "/6209420d-e148-4aa0-bf86-7cc4d99e993d"
        - name: Vmess_UUID
          value: "88948f36-5d33-48d5-b646-922bb71567b7"
        - name: Vmess_Path
          value: "/88948f36-5d33-48d5-b646-922bb71567b7"
        - name: Share_Path
          value: "/v2link"
